<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增专业信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-majorinfo-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">院校代码：</label>
                <div class="col-sm-8">
                    <input name="schoolID" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业代码：</label>
                <div class="col-sm-8">
                    <input name="majorID" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业名称：</label>
                <div class="col-sm-8">
                    <input name="major" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">研究方向：</label>
                <div class="col-sm-8">
                    <input name="researchDirection" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">思想政治：</label>
                <div class="col-sm-8">
                    <input name="politics" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">外语：</label>
                <div class="col-sm-8">
                    <input name="language" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数学：</label>
                <div class="col-sm-8">
                    <input name="math" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业科目：</label>
                <div class="col-sm-8">
                    <input name="majorSubject" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">复试科目：</label>
                <div class="col-sm-8">
                    <input name="reSubject" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "major/majorinfo"
        $("#form-majorinfo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-majorinfo-add').serialize());
            }
        }
    </script>
</body>
</html>